.App {
  display: flex;
}

.forms,
.table {
  flex: 1;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: black;
}

form input[type="submit"],
form input[type="button"] {
  background: #576e86;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: white;
}

form input[type="submit"]:hover,
form input[type="button"]:hover {
  background: #394d61;
}

.del-btn {
  display: inline-block;
  border: none;
  padding: 0.5rem;
  text-decoration: none;
  background: #576e86;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

.submit-btn {
  display: inline-block;
  border: none;
  padding: 0.5rem;
  text-decoration: none;
  background: #576e86;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

.login-btn {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background: green;
}

.del-btn:hover,
.del-btn:focus {
  background: red;
}
